<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Contacts:</h1>
    <ul>
        <li><a href="https://wiki.tcsbank.ru/pages/viewpage.action?pageId=1326017642">OurPage</a></li>
        <li><a href="https://wiki.tcsbank.ru/pages/viewpage.action?pageId=1471837093">DeveloperPage</a></li>
    </ul>
</body>
</html>