<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
<h1>Posts:</h1>
<ul>
    <li>
<article>
    <h2>
        <a href="/post/1">Post title</a>
    </h2>
    <p>My 1st post</p>
    <div class="info">
        <span>28.07.2022</span>
        <span>Vadim</span>
    </div>
</article>
</li>
</ul>
</body>
</html>